*{
    margin: 0;
    padding: 0;
}

.main-container {
    position: relative;
    display: flex;
}

.inviteinmygroup {
    background: whitesmoke;
}

.group-list {
    width: 100vh;
    overflow:scroll;
    max-height: 400px;
    background: whitesmoke;
}

.allform {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;

}

.creategroupContainer {
    background: whitesmoke;
}


