html,body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    font-family:'Montserrat', sans-serif;
    background-color: var(--primary-dark);
    overflow: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  
  main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input[type='button'] {
    border: none;
    background: #ffc800; 
    color: var(--white);
    padding: 12px 24px;

    font-size: 24px;
    border-radius: 100px;
    cursor: pointer;
  }

