@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.notification-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    padding: 20px;
}

.notification-headers {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--white);
}

#notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.notification p {
    margin: 0;
    padding: 5px 0;
}

.notification-title {
    font-size: 1.2em;
}

.notification-follow, .notification-group {
    font-size: 0.8em;
    color: #555;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #888;
}

.close-button:hover {
    color: #f00;
}

.group-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.accept-button, .reject-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
}

.accept-button:hover {
    background-color: #0056b3;
}

.reject-button {
    background-color: #dc3545;
}

.reject-button:hover {
    background-color: #c82333;
}

.no-notifications {
    font-size: 1.2em;
    color: #777;
}

.notification-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    padding: 20px;
}

.notification-header {
    font-size: 2em;
    margin-bottom: 20px;
}

#notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.notification {
    background-color: var(--primary-yellow);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    position: relative;
    animation: fadeIn 0.5s ease-in-out;
}

.groupPage {
height: 100vh;
overflow-y: scroll;
width: calc(100vw - 50px);
margin-left: -50px;

}


.notification > * {
color: var(--white);
}

.notification p {
    margin: 0;
    padding: 5px 0;
}

.notification-title {
    font-size: 1.2em;
}

.notification-follow, .notification-group {
    font-size: 0.8em;
    color: #555;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #888;
}

.close-button:hover {
    color: #f00;
}

.group-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.accept-button, .reject-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
}

.accept-button:hover {
    background-color: #0056b3;
}

.reject-button {
    background-color: #dc3545;
}

.reject-button:hover {
    background-color: #c82333;
}

.no-notifications {
    font-size: 1.2em;
    color: #777;
}

.emoji-container {
    font-size: 1.5em;
    margin-right: 10px;
}

.custom-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
