.password-input {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px; /* Ajustez cette valeur selon votre besoin */
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}
